$primary-color: rgb(85, 86, 166);
$hover-color: rgba(85, 86, 166, 0.2);
$border-color: rgb(200, 200, 255);
$shadow-color: rgba(0, 0, 0, 0.1);
$highlight-color: rgb(60, 180, 75);
$error-color: rgb(255, 50, 50);

.header {
    width: 100%;
    background-color: #f4f4f8;
    position: relative;
    z-index: 9;
    height: 100%;
    // border-radius: 20px;
}

.headerContainer {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    position: relative;
    // justify-content: space-between;
}

.module {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 50px;
    // justify-content: space-between;
    // gap: 10px;

    .moduleHeader {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0 10px;
        padding: 10px 15px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        box-shadow: 0 2px 5px rgba(138, 79, 255, 0.1);

        &.active,
        &:hover {
            background-color: rgb(85, 86, 166);
            color: white;

            .span {
                color: white;
            }
        }

        span {
            font-weight: 600;
            color: #333;
            white-space: nowrap;
        }

        img {
            transition: all 0.1s ease-in-out;
        }
    }

    .dropdown {
        position: absolute;
        top: 100%;
        // left: 0;
        min-width: 150px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 200;
        padding: 10px 0;
        margin-top: 10px;
        border: 1px solid #e0e0e0;
        animation: all 0.1s ease-in;
    }

    .dropdownItem {
        width: 100%;
        text-align: left;
        padding: 10px 15px;
        background: none;
        border: none;
        cursor: pointer;
        transition: all 0.1s ease-in;

        &:hover {
            background-color: #f4f4f8;
            color: rgb(85, 86, 166);
        }

        &.selected {
            background: $primary-color;
            color: white;
            font-weight: bold;
            border-radius: 4px;
        }
    }
}

.inputDiv {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
    // background: rgba(85, 86, 166, 0.3);
}

.input, .input2 {
    border: none;
    outline: none;
    padding-left: 0.9rem;
    background-color: transparent;
    width: 150px;

    &:focus {
        border: none;
        outline: none;
    }
}

.input2 {
    width: 50px;
    font-size: 16px;
    border: 1px solid rgb(85, 86, 166);
    border-radius: 5px;
    text-align: center;
    padding: 5px;

    &:focus {
        border: 1px solid rgb(85, 86, 166);
    }
}

.inputContainer {
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    align-items: center;
    width: 100%;
    border: 1px solid transparent;
    margin: 0.8rem;
    padding: 0.5rem;
    background-color: rgba(85, 86, 166, 0.1);

    &:focus-within {
        border: 1px solid black;
    }
}

.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 6px;
    padding: 5px 5px;
    margin: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .btn {
        padding: 8px 16px;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        transition: all 0.1s ease-in-out;

        &:hover {
            background-color: darken($primary-color, 10%);
        }

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }
}

.tableDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    border-radius: 8px;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: hidden;
    background: white;
    border: 1px solid $border-color;
    white-space: nowrap;

    .th,
    .td {
        padding: 10px;
        text-align: left;
        border: 1px solid $border-color;
    }

    .th {
        font-weight: bold;
        background-color: $primary-color;
        color: white;
    }

    .td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 150px;
        font-size: 14px;
    }
}

.mainListing {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerListing {
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}

.spanLast {
    font-size: 16px;
}

.rightDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}